* { 
  padding: 0;  
  margin: 0;  
  box-sizing: border-box; 
  font-family: Arial, sans-serif;
}
a {
  text-decoration: none; 
  color: #333;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e9ffea;
}

header {
  /* TITLE BAR COLOR */
  background-color: #ffffff;
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

h1 {
  text-align: center;
  color: #333;
}

div.container-login {
  padding: 50px;
  max-width: 900px;
  margin: auto; /* Center horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center vertically and horizontally */
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  background-color: #afffbc;
}

div.container-login label{
  display: block;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 5px;
  margin-top: 10px;
  font-weight: bold;
}

div.container-login input{
  height: 30px;
  width: 300px;
  border-radius: 5px;
  border: 2px;
  font-size: 15px;
  padding: 10px;
}

div.loginButtonContainer{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
div.loginButtonContainer button{
  width: 200px;
  font-size: 20px;
  padding: 5px 20px;
  border-radius: 10px;
  background-color: #008b35;
  color: #fff;
  border: 0px;
}

div.container-login nav {
  text-align: center;
}

div.container-register {

  padding: 50px;
  max-width: 900px;
  margin: auto; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  background-color: #afffbc;  
}

div.container-register nav{
  
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

div.container-register label{
  display: block;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 5px;
  margin-top: 10px;
  
}

div.container-register input{
  height: 30px;
  width: 300px;
  border-radius: 5px;
  border: 2px;
  font-size: 15px;
  padding: 10px;
}

div.container-register select{
  height: 30px;
  width: 300px;
  border-radius: 5px;
  border: 2px;
  font-size: 15px;
  padding: 0px;
}

div#errorMessage{
  background: rgb(255, 0, 0);
  text-align: center;
  font-size: 15px;
  padding: 1px;
  margin: 0px;
}

nav {
  text-align: center;
  background-color: #00d447;
  padding: 10px;
}

nav a {
  color: #fff;
  font-weight: bold;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 20px;
}



div.container{
  background-color: #aeffca;
  display: flex;
}

div.container-settings{
  /* background-color: #aeffca; */
  padding: 20px;
  max-width: max-content;
  margin: auto; 
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%);  */
  
  /* border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  display: block;
  flex-direction: row;
  
}

.container1 {
  text-align: center;
  width: 500px; /* Adjust as needed */

  background-color: #ffffff;
  border-radius: 5px;
  
  padding: 20px;
  margin: 20px;
  font-weight: bold;
}

div.container-side{
  padding: 50px;
  max-width: max-content;
  background-color: #008b35;
}
.container2 {
  text-align: left;
  width: 500px; /* Adjust as needed */

  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  
  padding: 20px;
  margin: 20px;
  font-weight: bold;

}

.container2 input{
  color: #000000; /* Adjust color as needed */
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 0px;
  text-decoration: none;
  margin-left: 30px;
  background-color: transparent;
  border: 0px;
}

.container2 a {
  color: #000000; /* Adjust color as needed */
  text-decoration: none;
  padding: 10px 30px;
  text-decoration: none;
}
.container2 a:nth-child(2) { /* Target the third link */
  margin-left: auto; /* Pushes the third link to the right */
}

div.container-mid{
  padding: 50px;
  max-width: 100%;
  background-color: #7a7a7a;
}

div.container-mid label{
  font-size: 20px;
  color: #000000;
  margin-left: 20px;
}
div.container-mid input{
  font-size: 20px;
  color: #000;
  margin-left: 20px;
  padding: 5px;
  width: 500px;
  border-radius: 5px;
}

.container-mid table{
  border-collapse: collapse;
  margin: 20px;
  background-color: #fff;
  
}
.container-mid th, .container-mid td {
  border: 1px solid #ddd;
  padding: 10px 20px;
  text-align: left;
  
}

div.container-summary {
  padding: 50px;
  width: 1000px;
  margin: auto; /* Center horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center vertically and horizontally */
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #afffbc;
}

div.pbar-border {
  background-color: white;
  width: 100%;
  height:24px;
}

div.pbar-fill {
  background-color: red !important;
  height: 100%;
}



